.wrapper {
  margin: auto;
  padding: 60px 40px 10px 40px;
  max-width: 1200px;
  height: 100%;
  width: 80%;
  flex: 1;

  @media (max-width: $breakpoint-m) {
    width: 90%;
  }

  @media (max-width: $breakpoint-s) {
    width: 100%;
  }
}

.center {
  text-align: center;
}
