.wrapper {
  position: relative;
  padding: 30px 20px;
  bottom: 0;
  box-shadow: $shadow-footer;
  background: $gradient-leftToRight;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  max-width: 900px;
}
